VITE_API_BASE_URL=https://sample-url.com
VITE_API_VERSION=v1
VITE_XIRSYS_IDENT=sample-username
VITE_XIRSYS_SECRET=sample-secret
VITE_XIRSYS_DOMAIN=https://sample-domain.com
VITE_XIRSYS_CHANNEL=sample-channel
VITE_METABASE_DASHBOARD_ID=sample-dashboard-id